.recent-tweets__title {
	font-family: $font-alt1;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 26px;
	color: #fff;
	text-shadow: 1px 1px 1px #020202;
}
.recent-tweets__item {
	color: #bbc1c1;
	margin-bottom: 10px;
	line-height: 20px;
}
.recent-tweets__item:last-of-type {
	margin-bottom: 0;
}
.recent-tweets__info {
	margin-bottom: 3px;
}
.recent-tweets__user-link {
	color: #54cdd1;
}
.recent-tweets__time {
	font-size: 10px;
	color: #7a8388;
}